<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add your Nexus repository -->
    <add key="Nexus" value="https://eldan-repo.devopshift.com/nexus/repository/nuget-hosted/" />
    <!-- Keep the default NuGet source or any other sources you use -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Nexus>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="admin" />
    </Nexus>
  </packageSourceCredentials>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
</configuration>
